@tailwind base;
@tailwind components;
@tailwind utilities;

/* the following light theme and dark theme are applied based on user's system preferences*/
:root {
  --background: #f2f3f4;
  --foreground: #171717;
  --background-paper: #ffffff;
  --text: #3a4f6c;

  --primary: #ff5a5f;
  --primary-hover: #ff7377;
  --secondary: #3a4f6c;
  --secondary-hover: #ff5a5f;

  --accent: #10b981;
  --error: #e63946;

  --font-general: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  --font-brand: var(--font-brand), cursive; /* added for Vamoose! */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-paper: #1a1a1a;
    --text: #ededed;

    --primary: #ff5a5f;
    --primary-hover: #ff7377;
    --secondary: #a8dadc;
    --secondary-hover: #7edce0;

    --accent: #14b8a6;
    --error: #f28482;
  }
}
/* the following are to allow manual override */
[data-theme="light"] {
  --background: #f2f3f4;
  --foreground: #171717;
  --background-paper: #ffffff;
  --text: #3a4f6c;

  --primary: #ff5a5f;
  --primary-hover: #ff7377;
  --secondary: #3a4f6c;
  --secondary-hover: #2b3d56;

  --accent: #10b981;
  --error: #e63946;

  --font-general: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  --font-brand: var(--font-brand), cursive; /* added for Vamoose! */
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background-paper: #1a1a1a;
  --text: #ededed;

  --primary: #ff5a5f;
  --primary-hover: #ff7377;
  --secondary: #a8dadc;
  --secondary-hover: #73aaab;

  --accent: #14b8a6;
  --error: #f28482;

  --font-general: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  --font-brand: var(--font-brand), cursive; /* added for Vamoose! */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-general);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
